*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #fefefe;
    color: #333;
}

/* navbar */
header{
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #222;
}

.logo span{
    color: #ff5722;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #ff5722;
    text-decoration: underline;
}

.btn{
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover{
    background: #d34216;
}

/* hero section */
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 40px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.hero-content{
    max-width: 500px;
}

.hero-content h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content span{
    color: #ff5722;
}

.hero-content p{
    margin-bottom: 20px;
    color: #555;
    height: auto;
}

.cta-btn{
    background: #ff5722;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cta-btn:hover{
    transform: scale(1.05);
}

.hero-img{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* features section */
.features{
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.feature-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.box{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    transition: all 0.3s linear;
}

.box:hover{
    transform: scale(1.1);
    border: 1px solid #ff5722;
    cursor: pointer;
}

.box h3{
    color: #ff5722;
    margin-bottom: 10px;
}

/* about section */
.about{
    padding: 60px 20px;
    text-align: center;
}

.about h2{
    margin-bottom: 10px;
}

/* contact section */
.contact{
    background: #ff5722;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.contact form{
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input, .contact textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact button{
    background: white;
    color: #ff5722;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact button:hover{
    background: #c44018;
    color: white;
}

/* footer section */
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

@media (max-width: 980px) {
    .hero{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 60px 30px;
    }

    .hero-content{
        text-align: center;
    }

    .hero-img{
        width: 400px;
    }
}

@media (max-width:680px) {
    .nav-links{
        display: none;
    }

    .btn{
        display: none;
    }
}

@media (max-width: 580px) {
    .hero{
        padding: 50px 25px;
    }
    .hero-img{
        width: 350px;
    }

    .contact form{
        max-width: 350px;
    }
}

@media (max-width:425px) {
    .contact form{
        max-width: 300px;
    }
}

@media (max-width:380px) {
    .hero-img{
        width: 290px;
    }
}

@media (max-width:320px) {
    .hero-img{
        width: 250px;
    }
    .contact form{
        max-width: 270px;
    }
}